%tr
  %td.listing
    %a{:href => "http://theunofficialmartinguitarforum.yuku.com#{martin.link}", :target => "_blank"}
      = martin.title
    %br
    %span.author= martin.author

  %td.replies= martin.replies

  - person, date = format_last_post(martin.last_post)
  %td.last-post
    = date
    %br
    by
    = person
