.wrapper
  .search
    = image_tag "martin.png", :class => "logo"
    = render 'shared/auction_links'
    %table.display#martin{:cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th.listing Thread
          %th.replies Replies
          %th.views Views
          %th.last-post Last Post
      %tbody
        - cache(cache_key_for_martin) do
          - @martins_presenter.each do |martin|
            %tr
              %td.listing= martin.listing
              %td.replies= martin.replies
              %td.views= martin.views
              %td.last-post= martin.formatted_last_post
  .push
