<div class="wrapper">

<section class="search">

<h3>Gear</h3>

<table id="gear" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="listing">Thread</th>
      <th class="last-post">Last Post</th>
      <th class="replies">Replies</th>
      <th class="views">Views</th>
    </tr>
  </thead>

  <tbody>
    <% cache(cache_key_for_gear) do %>
    <% @gear.each do |g| %>
      <tr>
        <td class="listing">
          <a href="http://www.acousticguitarforum.com/forums/<%= g.link %>" target="_blank">
            <%= g.title %>
          </a>
          <br>
            <span class="author"><%= g.author%></span>
        </td>
        <% date, person = getDateAndPerson(g.last_post) %>
        <td class="last-post"><%= date %> <br>by <%= person %></td>
        <td class="replies"><%= g.replies %></td>
        <td class="views"><%= g.views %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>

</table>

</section>
<div class="push"></div>
</div>
