.wrapper
  .search
    %h3 Gear

    %table{:id => "gear", :class => "display", :cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th{:class => "listing"} Thread
          %th{:class => "last-post"} Last Post
          %th{:class => "replies"} Replies
          %th{:class => "views"} Views
      %tbody
        - cache(cache_key_for_gear) do
          - @gear.each do |g|
            %tr
              / cleanup with helper or decorator (too much logic in the views)
              %td{:class => "listing"}
                %a{:href => "http://www.acousticguitarforum.com/forums/#{g.link}", :target => "_blank"}
                  = g.title
                %br
                %span{:class => "author"}= g.author

              / also needs to be cleaned up
              - date, person = getDateAndPerson(g.last_post)
              %td{:class => "last-post"}
                = date
                %br
                by
                = person
              %td{:class => "replies"}= g.replies
              %td{:class => "views"}= g.views
  .push
