.wrapper
  .search
    = image_tag "blueridge.png", :class => "logo"

    %table.display#blueridge{:cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th.listing Thread
          %th.replies Replies
          %th.views Views
          %th.last-post Last Post
      %tbody
        - cache(cache_key_for_blueridge) do
          - @blueridges_presenter.each do |blueridge|
            %tr
              %td.listing= blueridge.listing
              %td.replies= blueridge.replies
              %td.views= blueridge.views
              %td.last-post= blueridge.formatted_last_post
  .push
