%tr
  %td.listing
    %a{:href => "http://www.acousticguitarforum.com/forums/#{gear.link}", :target => "_blank"}
      = gear.title
    %br
    %span.author= gear.author

  = simple_format(format_p(gear.last_post), {:class => "last-post"}, :wrapper_tag => "td")
  %td.replies= gear.replies
  %td.views= gear.views
