.wrapper
  .search
    %h3 Gear
    = render 'shared/auction_links'
    %table.display#gear{:cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th.listing Thread
          %th.last-post Last Post
          %th.replies Replies
          %th.views Views
      %tbody
        - cache(cache_key_for_gear) do
          - @gears_presenter.each do |gear|
            %tr
              %td.listing= gear.listing
              %td.last-post=  gear.formatted_last_post
              %td.replies= gear.replies
              %td.views= gear.views
  .push
