%tr
  %td{:class => "listing"}
    %a{:href => "#{larrivee.link}", :target => "_blank"}
      = larrivee.title
    %br
    %span{:class => "author"}= larrivee.author

  %td{:class => "replies"}= larrivee.replies
  %td{:class => "views"}= larrivee.views
  = simple_format(format_p(larrivee.last_post), {:class => "last-post"}, :wrapper_tag => "td")

