%tr
  %td.listing
    %a{:href => "#{larrivee.link}", :target => "_blank"}
      = larrivee.title
    %br
    %span.author= larrivee.author

  %td.replies= larrivee.replies
  %td.views= larrivee.views
  = simple_format(format_p(larrivee.last_post), {:class => "last-post"}, :wrapper_tag => "td")

