.wrapper
  .search
    = image_tag "larrivee.png", :class => "logo"

    %table.display#larrivee{:cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th.listing Thread
          %th.replies Replies
          %th.views Views
          %th.last-post Last Post
      %tbody
        - cache(cache_key_for_larrivee) do
          - @larrivees_presenter.each do |larrivee|
            %tr
              %td.listing= larrivee.listing
              %td.replies= larrivee.replies
              %td.views= larrivee.views
              %td.last-post= larrivee.formatted_last_post

  .push

