<div class="wrapper">


<section class="search">

<%= image_tag("larrivee.png", class: "logo") %>

<table id="larrivee" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="listing">Thread</th>
      <th class="replies">Replies</th>
      <th class="views">Views</th>
      <th class="last-post">Last Post</th>
    </tr>
  </thead>

  <tbody>
    <% cache(cache_key_for_larrivee) do %>
    <% @larrivees.each do |larry| %>
      <tr>
        <td class="listing">
          <a href="<%= larry.link %>" target="_blank">
            <%= larry.title %>
          </a>
          <br>
            <span class="author"><%= larry.author%></span>
        </td>

        <td class="replies"><%= larry.replies %></td>
        <td class="views"><%= larry.views %></td>
        <% date, person = getDateAndPerson(larry.last_post) %>
        <td class="last-post"><%= date %> <br>by <%= person %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>

</table>

</section>
<div class="push"></div>
</div>
