%tr
  %td{:class => "listing"}
    %a{:href => "http://www.acousticguitarforum.com/forums/#{post.link}", :target => "_blank"}
      = post.title
    %br
    %span{:class => "author"}= post.author
  = simple_format(format_p(post.last_post), {:class => "last-post"}, :wrapper_tag => "td")
  %td{:class => "replies"}= post.replies
  %td{:class => "views"}= post.views
