

<section id="search">

<h2>For Sale</h2>

<table id="guitar" class="display" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="listing">Thread</th>
      <th class="last-post">Last Post</th>
      <th class="replies">Replies</th>
      <th class="views">Views</th>
    </tr>
  </thead>

  <tbody>
    <% cache(cache_key_for_posts) do %>
    <% @posts.each do |p| %>
      <tr>
        <td class="listing">
          <a href="http://www.acousticguitarforum.com/forums/<%= p.link %>" target="_blank">
            <%= p.title %>
          </a>
          <br>
            <%= p.author%>
        </td>
        <% date, person = getDateAndPerson(p.last_post) %>
        <td class="last-post"><%= date %> <br>by <%= person %></td>
        <td class="replies"><%= p.replies %></td>
        <td class="views"><%= p.views %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
  
</table>
</section>
