<!DOCTYPE html>
<html>
<head>
  <title>AGF ForSale</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="bourbon">
  <div id="logo">
      <h2 class="logo-acoustic">acoustic</h2>
      <h2 class="logo-guitar">guitar</h2>
      <h2 class="logo-forum">forum</h2>
  </div>
</nav>

  <%= render 'layouts/header' %>

  <section class="subtitle">
  <h2>A <strong>fast</strong> way to <strong>search</strong> for <strong>Guitars</strong> on <strong>AGF Classifieds</strong>.</h2>
</section>

 
  <div class="container">
    <%= yield %>
  </div>
  <footer>Created and Maintained by @Jberczel</footer>

</body>
</html>
